body {
  margin: 0;
  overflow: hidden;
  background-color: black;
}
canvas {
  display: block;
  background-image: url('./assets/space-background.jpg');
  background-size: cover;
}
#pauseMenu {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  text-align: center;
  display: none;
}
#pauseMenu button {
  padding: 10px 20px;
  background-color: white;
  color: black;
  border: none;
  cursor: pointer;
}
#killCount {
  position: absolute;
  top: 10px;
  right: 10px;
  color: white;
  font-size: 24px;
  font-family: sans-serif;
}
